@import "tailwindcss";

@theme {
  --font-vazirmatn: "Vazirmatn", system-ui, sans-serif;
}

body {
  font-family: var(--font-vazirmatn);
}

/* Hide scrollbar for horizontal scroll areas */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
